:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto-slab: "Roboto Slab";
  --font-candal: Candal;

  /* font sizes */
  --font-size-sm: 12px;
  --font-size-base: 20px;

  /* Colors */
  --color-gray-100: #e3e3e3;
  --color-gray-200: #222;
  --color-black: #000;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 12px;
}
